.grid-pane {
    -fx-font-family: "Sans-serif";
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.currentTemp {
    -fx-font-size: 60px;
    -fx-font-weight: 300;
    -fx-font-family: "Sans-serif";

}

TextField {
    -fx-font-weight: 300;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
}

TextField:focused {
    -fx-border-radius: 2px;
    -fx-border-color: #3981bf;
}

Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-opacity: 1;
}